body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
}

input {
    padding: 8px;
    width: 70%;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
}

.weather-box {
    margin-top: 20px;
}